body{
    background-color: #c4c4c4;
    font-size: 32px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header{
    background-color: #000000;
    color: #ececec;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
}
div{
    font-size: 50px;
}
.text00{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.image_a{
    background-color: #ececec;
    margin: 30px 50px 30px 30px;
    padding: 15px 20px 15px 20px;
    height: 200px;
    border: 15px solid  #371d49;
}
.image00{
    display: flex;
    justify-content: space-around;
}
.vs{
    font-size: 70px;
    margin-top: 115px;
    position: absolute;
}
.judgment{
    margin-top: 10px;
}
.btn00{
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.ex{
    font-size: 25px;
    margin-top: -30px;
}
.ex00{
    padding: 0;
    display: flex;
    justify-content: space-around;
}
li{
    background-color: #000000;
    color: #ececec;
    list-style-type: none;
    margin: 5px;
    padding: 10px 30px;
    width: 200px;
    cursor: pointer;
}
li:hover{
    background: #371d49;
    color: #ececec;
}
footer{
    background-color: #000000;
    color: #ececec;
    margin-top: 40px;
    padding: 1px;
}
/* 参考URL */
/* CSS Flexboxの使い方 ｢図解付き｣で解説する横並びレイアウト https://stand-4u.com/css/flexbox.html */
/* htmlやCSSでボタンを横並びにする方法(flexなど) https://csshtml.work/button-sidebyside/ */